* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif; 
}

body { 
    background: #d4ff00; 
    min-height: 100vh; 
    overflow-x: hidden; 
}

.login-container { 
    display: flex; 
    min-height: 100vh; 
} 

.login-image { 
    flex: 1; 
    background: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?auto=format&fit=crop&w=1400&q=80"); 
    background-size: cover; 
    background-position: center; 
    position: relative; 
}

.overlay { 
    position: absolute; 
    inset: 0;
    background: rgba(0,0,0,0.55); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 60px; 
    color: white; 
} 

.overlay h1 {
     font-size: 52px;
     color: #d4ff00; 
     margin-bottom: 15px; 
} 

.overlay p { 
    font-size: 20px; 
    max-width: 400px; 
    line-height: 1.6; 
}

.login-form-section { 
    flex:1; 
    background: #111; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
} 

.login-box { 
    width: 100%; 
    max-width: 100px; 
} 

.back-home { 
    text-decoration: none; 
    color: #d4ff00; 
    font-size: 14px; 
    display: inline-block; 
    margin-bottom: 25px; 
}

.login-box h2 { 
    font-size: 38px; 
    margin-bottom: 10px; 
    color: rgb(190, 97, 53); 
} 

.login-box p {
     color: #f7eeee; 
     margin-bottom: 30px; 
} 

form { 
    display:grid; 
    flex-direction: column;
    gap: 18px; 
} 

input { 
    padding: 16px; 
    border: 1px solid #333; 
    background: #1a1a1a; 
    color: white; 
    border-radius: 12px; 
    outline: none; 
    font-size: 15px; 
} 

button { 
    padding: 16px; 
    border: none; 
    background: #d4ff00; 
    color: rgb(20, 20, 20); 
    font-weight: bold; 
    border-radius: 12px; 
    cursor: pointer; 
    transition: 0.3s; 
    font-size: 16px; 
}

button:hover { 
    transform: translateY(-2px); 
} 

.extra-links { 
    margin-top: 20px; 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 10px; 
} 

.extra-links a { 
    text-decoration: none; 
    color: #ccc; 
    font-size: 14px; 
} 

.extra-links a:hover { 
    color: #d4ff00; 
}


@media (max-width: 900px) {
     .login-container { 
        flex-direction: column; 
    } 
    .login-image {
         min-height: 300px; 
} 
.overlay { 
    padding: 30px; 
} 
.overlay h1 { 
    font-size: 38px; 
} 
.login-form-section { 
    padding: 30px 20px; 
} 
}